<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">

    <title>Portafolio</title>
</head>

<body>
    <div class="block1">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li>|</li>
                <li><a href="/Projects">Projects</a></li>
                <li>|</li>
                <li><a href="/Contact">Contact</a></li>
            </ul>
        </nav>
        <div class="block2">
            <h1>About me</h1>
        </div>
        <div class="block3">
            <div class="imgPerfil">
                <img src="~/imagenes/perfil.jpg" alt="Imagen perfil">
                <h2>Chuu</h2>
                <h3>I love to code</h3>
            </div>
            <div class="description">
                <div>
                    <h2>Profile Summary:</h2>

                       <p> Highly skilled and detail-oriented programmer with [X years] of experience in designing and
                        implementing software solutions. Proficient in multiple programming languages, including but not
                        limited to Java, Python, and JavaScript. Adept at analyzing complex problems and translating
                        requirements into efficient and scalable code. Experienced in collaborating with
                        cross-functional teams to deliver high-quality software applications on time and within budget.
                        Strong problem-solving abilities and a passion for continuous learning in the ever-evolving
                        field of technology.</p>

                        <h2>Key Skills:</h2>
                       <p>
                        Languages: Java, Python, JavaScript
                        Technologies: (mention any specific technologies or frameworks you are proficient in)
                        Database Management: SQL, MongoDB, etc.
                        Tools: Git, Docker, Jenkins, etc.
                        Problem-Solving: Proven ability to analyze problems and develop innovative solutions.
                        Collaboration: Excellent team player with strong communication skills.
                        Agile Development: Experience working in Agile/Scrum environments.</p>
                </div>
            </div>
        </div>

    </div>

</body>

</html>